body {
    background-color: aqua;
    background-image: url("../images/bbtBackground.jpg");
    padding-top:20px;
}

#text {
    float:left;
}

#image {
    float:right;
    max-width: 230px;
}

#gameBox, #scoreBoard {
    height: 260px;
}


/* Chat Box Functionality below: */
#infoBox {
    height: 50px;
}

#chatDiv {
    height: 100px;
    background: lightgray;
    overflow: auto;
}

/* Buttons Styling */
#lizard {
    padding-left: 36px;
    background: url(../images/lizard.png) no-repeat 0 -4px;
    }