body {
    background-color: aqua;
    padding-top:20px;
}

#text {
    float:left;
}

#image {
    float:right;
    max-width: 230px;
}

#gameBox, #scoreBoard {
    height: 200px;
}

#chatBox {
    height: 350px;
}