body {
    background-color: aqua;
    background-image: url("../images/bbtBackground.jpg");
    padding-top:20px;
}

#text {
    float:left;
}

#image {
    float:right;
    max-width: 230px;
}

#gameBox, #scoreBoard {
    height: 250px;
}


/* Chat Box Functionality below: */
#chatDiv, #gameDiv {
    height: 125px;
}
